.catalog-banner{
    @include column-markup;
    padding: 60px 20px;
    color: #575153;
    h2{
        font-size: 48px;
        padding: 0 0 30px 0;
        text-transform: uppercase;
        font-weight: normal;
    }
    p{
        padding: 0 0 20px 0;
    }
}