.header .cart{

    position: absolute;
    top: 100%;
    z-index: 150;
    background: #fff;
    padding: 15px 20px;
}

.cart{
    display: none;
    flex-direction: column;
    &__item{
        display: flex;
        margin-bottom: 8px;
        align-items: center;
        &-title{
            margin-right: 5px;
            width: 250px;
        }
        &-price{
            margin-right: 8px;
            width: 60px;
        }
        &-quantity{
            padding: 0 7px;
        }
        &-plus{
            margin-right: 8px;
        }
        &-plus,
        &-minus{
            font-size: 18px;
        }
    }
}
.cart-button:hover ~ .cart,
.cart:hover{
    display: flex;
}

.checkout-button__outer{
    padding-top: 12px;
    text-align: right;
}